<div class="sidebar-mt">
  <section class="container">
    <div class="card offset-md-3 col-md-6">
      <div class="card-body">
        <h4 class="mb-3 border-bottom pb-2">Login</h4>
        <form [formGroup]="form" class="ignore-form-invalid-feedback" autocomplete="off">
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input placeholder="ex: your-email@address.com" formControlName="email" autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors }"
              class="form-control form-control-sm">
            <div *ngIf="submitted && form.controls.email.errors" class="invalid-feedback">
              <div *ngIf="form.controls.email.errors.required">Email Address is required.</div>
              <div *ngIf="form.controls.email.errors.email">Enter a valid email address.</div>
            </div>
            <div class="text-danger" *ngIf="error">{{error}}</div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && form.controls.password.errors }"
              class="form-control form-control-sm">
            <div *ngIf="submitted && form.controls.password.errors" class="invalid-feedback">
              <div *ngIf="form.controls.password.errors.required">Password is required.</div>
            </div>
          </div>

          <!-- Login Button -->
          <button (click)="loginSubmit()" class="btn btn-primary">Login</button>

          <div class="float-right">
            <div class=" text-primary" [routerLink]="['/sign-up']"> Sign Up
            </div>
            <div class=" text-primary" (click)="forgotPassword()" [ngClass]="{'disable':isforgot}"> Forgot password
            </div>
            <div *ngIf="isforgot">
              <div class="text-center">Forgot email has been sent to your email.</div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </section>

</div>
